@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-background: #161616;
  --color-primary: #7d4283;
  --color-secondary: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-poppins);
}

button,
a {
  cursor: pointer;
}

