@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-background: #161616;
  --color-primary: #7d4283;
  --color-secondary: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-poppins);
}

button,
a {
  cursor: pointer;
}

.mask-fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-195%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

